{% extends 'flatpages/default.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Записаться на приём</title>
</head>
<body>
<h1> Записаться на приём</h1>
<form action="{% url 'make_appointment' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="client_name">Ваше имя</label>
    <input type="text" name="client_name"><br>
    <label for="message">Краткое описание проблемы</label>
    <input type="text" name="message"><br>
    <label for="date">Выберите дату</label>
    <input type="date" name="date">.<br>
    <input type="submit">
</form>
</body>
</html>
{% endblock %}